{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Remove NRFD.{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>Please click to select the patients who are not ready to be discharged from intensive care.</p>
  <p>When you have finished selecting patients cllick 'submit'.</p>
  
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/rr-1.2.4/sl-1.2.6/datatables.min.css"/> 
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/rr-1.2.4/sl-1.2.6/datatables.min.js"></script>
  <script>  
  $(document).ready(function() {
    $('#example').DataTable({
        "paging":   false,
        "ordering": false,
        "info":     false,
        "searching":   false,
         columnDefs: [{
            targets: [1,2,3,4],
            className: 'dt-right'
            },
            {
            targets: [0],
            className: 'dt-left'
            }]
        });
    $('#example tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
        } );
  } );
  </script>
  
  <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Bed number</th>
                <th>T number</th>
                <th>Age</th>
                <th>Admission date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Paul Stephenson</td>
                <td>4</td>
                <td>T402361</td>
                <td>61</td>
                <td>2011/04/25</td>
            </tr>
            <tr>
                <td>Princess Campbell</td>
                <td>11</td>
                <td>T410974</td>
                <td>63</td>
                <td>2011/07/25</td>
            </tr>
            <tr>
                <td>Roy Hackett</td>
                <td>12</td>
                <td>T218475</td>
                <td>81</td>
                <td>2011/07/26</td>
            </tr>
            <tr>
                <td>Guy Bailey</td>
                <td>21</td>
                <td>T321850</td>
                <td>70</td>
                <td>2011/06/14</td>
            </tr>
        </tbody>
    </table>
  
  <form action="/submit_table1", method="post">
    <input type="submit" value="Submit">
  </form>
{% endblock %}
