{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Remove NRFD.{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>Please click to select the patients who are not ready to be discharged from intensive care.</p>
  <p>When you have finished selecting patients cllick 'submit'.</p>
  
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/rr-1.2.4/sl-1.2.6/datatables.min.css"/> 
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/rr-1.2.4/sl-1.2.6/datatables.min.js"></script>
  <script>  
  $(document).ready(function() {
    var table = $('#example').DataTable({
        "paging":   false,
        "ordering": false,
        "info":     false,
        "searching":   false,
        select   : {style: 'multi'},
         columnDefs: [{
            targets: [1,2,3,4],
            className: 'dt-right'
            },
            {
            targets: [0],
            className: 'dt-left'
            }]
        });
    $('#example tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
        } );
    $('#testButton').click( function () {
        //alert( table.rows('.selected').data().length +' row(s) selected' );
        var i;
        var text = '';
        for (i = 0; i < table.rows('.selected').data().length; i++) {
          text += table.rows('.selected').data()[i] + "\n";
        } 
        alert( text );
    } );
    $(function(){
    function setInputValue(input_id, val) {
        document.getElementById(input_id).setAttribute('value', val);
    }    
    // add inputs to form based on which patients are present
    var data = table.rows().data();
    data.each(function (value, index) {
     console.log(`For index ${index}, data value is ${value}`);
        $('<input>').attr({
        type: 'hidden',
        id: `${value[0]}`,
        name: `${value[0]}`,
        value: 'unselected'}).appendTo('#nrfd_form');
     });
    table.off("select").on( "select", function( e, dt, type, indexes ) {
        //console.log( e, dt, type, indexes );
        var pname = table.rows().data()[indexes][0]
        alert(pname);
        setInputValue(pname, 'selected')
     });
    table.off("deselect").on( "deselect", function( e, dt, type, indexes ) {
        //console.log( e, dt, type, indexes );
        var pname = table.rows().data()[indexes][0]
        alert(pname);
        setInputValue(pname, 'unselected')
     });  
    });
     
  });
  </script>
  <button type="button" id="testButton">Count selected..</button>

  <table id="example" class="tabel display" style="width:100%">
    <thead>
        <tr>
            {% for c in columns %}
                <th scope="col">{{c}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for k,v in table_data.items() %}
            <tr>
                <td>{{v.Name}}</td>
                <td>{{v.Bed}}</td>
                <td>{{v.T_number}}</td>
                <td>{{v.Age}}</td>
                <td>{{v.Admission}}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
  
  <form action="/submit_table1", method="post", id="nrfd_form">
    <input type="submit" value="Submit">
  </form>
{% endblock %}
